<div class="w3-light-grey">

	<!-- Page Container -->
	<div class="w3-content w3-margin-top" style="max-width:1400px;">

		<!-- The Grid -->
		<div class="w3-row-padding">

			<!-- Left Column -->
			<div class="w3-third">

				<div class="w3-white w3-text-grey w3-card-4">
					<div class="w3-display-container">
						<img src="https://i5.walmartimages.com/asr/2dd8a4b5-6dc8-4f2d-b581-e0aca4ac00c2_1.b816275f1200b35ac418bb536323f51e.jpeg?odnHeight=450&odnWidth=450&odnBg=ffffff" style="width:100%" alt="Avatar">
						<div class="w3-display-bottomleft w3-container w3-text-black">
							<h2>Steve kyu-hwan Yeom</h2>
						</div>
					</div>
					<div class="w3-container">
						<p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Queensborough
							Community College student</p>
						<p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Sejong, South Korea</p>
						<p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>jjojjosteve@gmail.com
						</p>
						<p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>01072753019</p>
						<hr>

						<p class="w3-large">
							<b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
						<p>Adobe Photoshop</p>
						<div class="w3-light-grey w3-round-xlarge w3-small">
							<div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">30%</div>
						</div>
						<p>Photography</p>
						<div class="w3-light-grey w3-round-xlarge w3-small">
							<div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
								<div class="w3-center w3-text-white">50%</div>
							</div>
						</div>
						<p>Illustrator</p>
						<div class="w3-light-grey w3-round-xlarge w3-small">
							<div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">65%</div>
						</div>
						<p>Media</p>
						<div class="w3-light-grey w3-round-xlarge w3-small">
							<div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">70%</div>
						</div>
						<br>

						<p class="w3-large w3-text-theme">
							<b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
						<p>Korean</p>
						<div class="w3-light-grey w3-round-xlarge">
							<div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
						</div>
						<p>English</p>
						<div class="w3-light-grey w3-round-xlarge">
							<div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
						</div>
						<p>Japanese</p>
						<div class="w3-light-grey w3-round-xlarge">
							<div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
						</div>
						<br>
        </div>
					</div><br>

					<!-- End Left Column -->
				</div>

				<!-- Right Column -->
				<div class="w3-twothird">

					<div class="w3-container w3-card w3-white w3-margin-bottom">
						<h2 class="w3-text-grey w3-padding-16">
							<i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience
						</h2>
						<div class="w3-container">
							<h5 class="w3-opacity"><b>ROKA(Republic of Korea Army)</b></h5>
							<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2013 -
								<span class="w3-tag w3-teal w3-round">Mar 2015</span></h6>
							<p>Served in South Korean Army.</p>
							<hr>
						</div>
						<div class="w3-container">
							<h5 class="w3-opacity"><b>N/A</b></h5>
							<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i></h6>
							<p></p>
							<hr>
						</div>
						<div class="w3-container">
							<h5 class="w3-opacity"><b>N/A</b></h5>
							<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> </h6>
							<p> </p><br>
        </div>
						</div>

						<div class="w3-container w3-card w3-white">
							<h2 class="w3-text-grey w3-padding-16">
								<i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education
							</h2>
							<div class="w3-container">
								<h5 class="w3-opacity"><b>W3Schools.com</b></h5>
								<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever
								</h6>
								<p>Web Development! All I need to know in one place</p>
								<hr>
							</div>
							<div class="w3-container">
								<h5 class="w3-opacity"><b>Queensborough Community College</b></h5>
								<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2019-
								</h6>
								<p>Majoring in Internet and information technology. A.A.S</p>
								<hr>
							</div>
							<div class="w3-container">
								<h5 class="w3-opacity"><b>Vaughns College</b></h5>
								<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 - 2017
								</h6>
								<p>Studied aviation</p><br>
        </div>
							</div>

							<!-- End Right Column -->
						</div>

						<!-- End Grid -->
					</div>

					<!-- End Page Container -->
				</div>

				<footer class="w3-container w3-teal w3-center w3-margin-top">
					<p>Find me on social media.</p>
					<i class="fa fa-facebook-official w3-hover-opacity"></i>
					<i class="fa fa-instagram w3-hover-opacity"></i>
					<i class="fa fa-snapchat w3-hover-opacity"></i>
					<i class="fa fa-pinterest-p w3-hover-opacity"></i>
					<i class="fa fa-twitter w3-hover-opacity"></i>
					<i class="fa fa-linkedin w3-hover-opacity"></i>
					<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
				</footer>
			</div>